input,
button {
	outline: none;
	border: none;
	box-shadow: none;
	font-family: inherit;
}

a,
input,
button {
	cursor: pointer;
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

p,
h1,
h2,
h3,
a {
	margin: 0;
}

address {
    font-style: normal; 
}
