$fg-light: #000000;
$bg-light: #ffffff;
$accent-light: hsl(290 50% 65%);

$input-bg-light: #e4e4e4;
$input-fg-light: #ababab;

$header-bg-light: #e6e6e6;

$hero-input-bg-light: #e4e4e4;
$hero-input-fg-light: #ababab;

$card-bg-light: #e8e8e8;
$card-bg-darker-light: #d9d9d9;

////

$fg-dark: #ffffff;
$bg-dark: #000000;
$accent-dark: hsl(290 45% 75%);

$input-bg-dark: #e4e4e4;
$input-fg-dark: #ababab;

$header-bg-light: #e6e6e6;

$hero-input-bg-dark: #e4e4e4;
$hero-input-fg-dark: #ababab;

$card-bg-dark: #e8e8e8;
$card-bg-darker-dark: #d9d9d9;

////

$hero-fg: #ffffff;
$footer-fg: #ffffff;
$footer-bg: #1f1f1f;
