$fg-light: #000000;
$bg-light: #ffffff;
$accent-light: hsl(290 50% 65%);

$input-bg-light: #e4e4e4;
$input-fg-light: #ababab;

$hero-input-bg-light: #e4e4e4;
$hero-input-fg-light: #ababab;

$card-bg-light: #E8E8E8;

////

$fg-dark: #ffffff;
$bg-dark: #000000;
$accent-dark: hsl(290 45% 75%);

$input-bg-dark: #e4e4e4;
$input-fg-dark: #ababab;

$hero-input-bg-dark: #e4e4e4;
$hero-input-fg-dark: #ababab;

$card-bg-dark: #E8E8E8;

////

$hero-fg: #ffffff;
