$fg-light: #000000;
$bg-light: #ffffff;
$accent-light: #7287fd;
$input-bg-light: #e4e4e4;
$input-fg-light: #ababab;

$fg-dark: #ffffff;
$bg-dark: #000000;
$accent-dark: #b4befe;
$input-bg-dark: #e4e4e4;
$input-fg-dark: #ababab;
