@import "../../sass/base/base.scss";

.hero {
	background: linear-gradient(0deg, #0000007a, #0000007a), url("../../img/hero_bg.jpg");
	background-size: cover;
	background-position: center;

	& > div {
		padding-top: 100px;

		padding-bottom: 100px;

		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 80px;
	}

	&__title {
		@include typography(inherit, 600, SemiBold, 40px, 100%, 0%, center);
		color: $hero-fg;
	}

	&__wrap {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__text {
		min-width: 216px; // 164 + 52

		padding-left: 52px;
		padding-top: 16px;
		padding-bottom: 16px;

		margin-right: 183px;

		@include typography(inherit, 500, Medium, 24px, 100%, 0%, left);
		color: $hero-fg;

		&:first-child {
			width: 397px; // 345 + 52

			padding-right: 52px;
			padding-left: 0;

			margin-right: 0;

			border-right: 3px solid $hero-fg;

			@include typography(inherit, 500, Medium, 24px, 100%, 0%, right);
		}

		&__sup {
			@include typography(inherit, 500, Medium, 16px, 100%, 0%, _);
		}
	}

	&__search {
		width: 625px;
		height: 42px;

		display: flex;
		justify-content: center;
		align-items: center;

		&__input {
			height: 100%;
			width: 580px;

			padding: 12px 29px;

			border-radius: 10px 0 0 10px;

			@include typography(Montserrat, 500, Medium, 14px, 100%, 0%, _);

			background-color: $hero-input-bg-light;

			&::placeholder {
				@include typography(Montserrat, 500, Medium, 14px, 100%, 0%, _);

				color: $hero-input-fg-light;
			}
		}

		&__button {
			height: 100%;
			width: 45px;

			padding: 9px 10px;

			display: flex;
			justify-content: center;
			align-items: center;

			border-radius: 0 10px 10px 0;

			background-color: $accent-light;
		}
	}
}
