@import "../../sass/base/base.scss";

.overlay {
	position: fixed;

	top: 0;
	left: 0;

	z-index: 999;
	width: 100%;
	height: 100vh;
	backdrop-filter: blur(2px);
	background: rgba(0, 0, 0, 0.4);

	display: flex;
	justify-content: center;
	align-items: center;

	.modal {
		background-color: $bg-light;
		padding: 25px;
		border-radius: 25px;

		display: flex;
		align-items: center;
		flex-direction: column;

		&__title {
			margin-bottom: 30px;

			@include typography(Montserrat Alternates, 500, Medium, 20px, 100%, 0%, _);
			color: $fg-light;
		}

		&__form {
			display: flex;
			align-items: center;
			flex-direction: column;
		}

		&__input-wrap {
			display: flex;
			flex-direction: column;
			gap: 15px;

			width: 243px;

			margin-bottom: 25px;
		}

		&__input-label {
			@include typography(Montserrat, 500, Medium, 12px, 100%, 0%, _);

			color: $fg-light;
		}

		&__input {
			width: 100%;
			height: 40px;

			padding: 12px 20px;

			border-radius: 10px;

			@include typography(Montserrat, 500, Medium, 12px, 100%, 0%, _);
			color: $fg-light;
			background-color: $input-bg-light;

			&::placeholder {
				@include typography(Montserrat, 500, Medium, 12px, 100%, 0%, _);
				color: $input-fg-light;
			}
		}

		&__btn {
			background-color: $accent-light;
			color: $fg-light;

			padding: 10px 30px;
			margin-bottom: 15px;

			border-radius: 10px;

			@include typography(Montserrat, 400, Medium, 12px, 100%, 0%, _);
		}

		&__login {
			@include typography(Montserrat, 500, Medium, 8px, 100%, 0%, center);

			&__link {
				color: inherit;
				margin-left: 1ex;
			}
		}
	}
}

@include tab() {
	.overlay {
		position: fixed;

		top: 0;
		left: 0;

		z-index: 999;
		width: 100%;
		height: 100vh;
		backdrop-filter: blur(2px);
		background: rgba(0, 0, 0, 0.4);

		display: flex;
		justify-content: center;
		align-items: center;

		.modal {
			background-color: $bg-light;
			padding: 30px 45px;
			border-radius: 25px;

			display: flex;
			align-items: center;
			flex-direction: column;

			&__input-wrap {
				width: 310px;
			}
		}
	}
}

@include desk() {
	.overlay {
		position: fixed;

		top: 0;
		left: 0;

		z-index: 999;
		width: 100%;
		height: 100vh;
		backdrop-filter: blur(2px);
		background: rgba(0, 0, 0, 0.4);

		display: flex;
		justify-content: center;
		align-items: center;

		.modal {
			background-color: $bg-light;
			padding: 28px 80px;
			border-radius: 25px;

			display: flex;
			align-items: center;
			flex-direction: column;

			&__title {
				margin-bottom: 40px;

				@include typography(Montserrat Alternates, 500, Medium, 28px, 100%, 0%, _);
				color: $fg-light;
			}

			&__input-wrap {
				width: 440px;

				margin-bottom: 30px;
			}

			&__input-label {
				@include typography(Montserrat, 500, Medium, 14px, 100%, 0%, _);
			}

			&__input {
				height: 50px;

				padding: 16px 20px;

				@include typography(Montserrat, 500, Medium, 14px, 100%, 0%, _);

				&::placeholder {
					@include typography(Montserrat, 500, Medium, 14px, 100%, 0%, _);
				}
			}

			&__btn {
				@include typography(Montserrat, 400, Medium, 14px, 100%, 0%, _);
			}

			&__login {
				@include typography(Montserrat, 500, Medium, 10px, 100%, 0%, center);
			}
		}
	}
}

.overlay.hidden {
	opacity: 0;
	pointer-events: none;
}
