@import "../../sass/base/base.scss";

.header {
	padding: 14px 0;

	position: relative;

	z-index: 2;

	background-color: $bg-light;

	& > div {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		width: 34px;
		height: 22px;
	}

	&__mob-menu__button {
		display: flex;
		align-items: center;
		gap: 5px;

		@include typography(Montserrat Alternates, 500, Medium, 10px, 100%, 0%, _);

		color: $fg-light;
		background-color: transparent;

		&.is-open > svg {
			transform: rotate(90deg);
		}
	}

	&__nav {
		display: none;
	}

	&__profile {
		display: none;
	}
}

.mob-menu {
	z-index: 1;

	transform: translateY(-100%);

	position: absolute;
	top: 50px;
	left: 0;

	padding: 30px 0;

	width: 100%;

	background-color: $header-bg-light;

	&.is-open {
		transform: translateY(0);
	}

	& > div {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__nav {
		height: 117px;

		&__list {
			height: 100%;

			display: flex;
			justify-content: space-between;
			flex-direction: column;

			&__link {
				text-decoration: none;

				@include typography(Montserrat Alternates, 500, Medium, 12px, 100%, 0%, _);
				color: $fg-light;
			}
		}
	}

	&__profile {
		margin-left: auto;

		display: flex;
		align-items: center;
		flex-direction: column-reverse;
		gap: 15px;

		&__username {
			@include typography(Montserrat Alternates, 500, Medium, 12px, 100%, 0%, _);
			color: $fg-light;
		}

		&__button {
			width: 89px;
			height: 35px;

			border-radius: 10px;

			@include typography(inherit, 500, Medium, 12px, 100%, 0%, _);
			color: $fg-light;
			background-color: $accent-light;
		}

		&__img {
			width: 40px;
			height: 40px;
		}
	}
}

@include tab() {
	.header {
		padding: 12px 0;

		& > div {
			display: flex;
			align-items: center;
		}

		&__logo {
			width: 54px;
			height: 36px;
		}

		&__mob-menu__button {
			display: none;
		}

		&__nav {
			display: block;

			margin-left: 57px;

			&__list {
				width: 262px;

				display: flex;
				align-items: center;
				gap: 42px;

				&__link {
					text-decoration: none;

					@include typography(Montserrat Alternates, 500, Medium, 10px, 100%, 0%, _);
					color: $fg-light;
				}
			}
		}

		&__profile {
			margin-left: auto;

			display: flex;
			align-items: center;
			gap: 25px;

			&__username {
				@include typography(Montserrat Alternates, 500, Medium, 10px, 100%, 0%, _);
				color: $fg-light;
			}

			&__button {
				width: 73px;
				height: 28px;

				border-radius: 10px;

				@include typography(inherit, 500, Medium, 10px, 100%, 0%, _);
				color: $fg-light;
				background-color: $accent-light;
			}

			&__img {
				width: 40px;
				height: 40px;
			}
		}
	}

	.mob-menu {
		display: none;
	}
}

@include desk() {
	.header {
		padding: 12px 0;

		&__logo {
			width: 82px;
			height: 56px;
		}

		&__nav {
			margin-left: 111px;

			&__list {
				&__link {
					@include typography(Montserrat Alternates, 500, Medium, 12px, 100%, 0%, _);
				}
			}
		}

		&__profile {
			&__username {
				@include typography(Montserrat Alternates, 500, Medium, 12px, 100%, 0%, _);
			}

			&__button {
				width: 89px;
				height: 35px;

				@include typography(inherit, 500, Medium, 12px, 100%, 0%, _);
			}

			&__img {
				width: 50px;
				height: 50px;
			}
		}
	}
}
