@import "../../../sass/base/base.scss";

.weather-list {
	display: flex;
	gap: 90px;
	flex-wrap: wrap;
}

.weather-card {
	width: 320px;
	padding: 20px;

	border-radius: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: $card-bg-light;

	&__location {
		width: 100%;

		display: flex;
		justify-content: space-between;

		@include typography(inherit, 500, Medium, 14px, 100%, 0%, _);
		color: $fg-light;
	}

	&__time {
		@include typography(inherit, 500, Medium, 24px, 100%, 0%, _);
		margin-top: 15px;
		color: $fg-light;
	}

	&__date {
		margin-top: 15px;

		display: flex;
		justify-content: space-between;

		@include typography(inherit, 500, Medium, 14px, 100%, 0%, _);
		color: $fg-light;

		&__date {
			padding-right: 16px;
			border-right: 1px solid $fg-light;
		}

		&__day {
			padding-left: 16px;
		}
	}

	&__img {
		width: 120px;
		height: 120px;

		margin-top: 15px;
	}

	&__temperature {
		margin-top: 15px;

		@include typography(inherit, 500, Medium, 32px, 100%, 0%, _);
		color: $fg-light;
	}

	&__button-wrap {
		width: 100%;

		margin-top: 15px;

		display: flex;
		justify-content: space-between;

		& > button > svg {
			width: 20px;
			height: 20px;
		}
	}

	&__update-button {
		padding: 10px;

		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
	}

	&__forecast-button {
		padding: 8px 25px;

		border-radius: 10px;

		@include typography(inherit, 500, Medium, 12px, 100%, 0%, _);
		background-color: $accent-light;
	}

	&__delete-button {
		padding: 10px;

		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
	}
}
