@import "../../sass/base/base.scss";

.news {
	padding: 60px 0;

	&__title {
		@include typography(inherit, 500, Medium, 20px, 100%, 0%, _);
	}

	&-list {
		margin-top: 40px;

		display: flex;
		gap: 20px;

		&__item {
			width: 270px;

			&__img-container {
				width: 100%;
				height: 208px;

				border-radius: 10px;

				background-position: center;
				background-size: cover;
			}

			&__img {
				width: 0;
				height: 0;
				opacity: 0;
			}

			&__title {
				margin-top: 20px;
				width: 100%;

				@include typography(inherit, 500, Medium, 16px, 100%, 0%, _);
			}
		}
	}
}
