@import "../../sass/base/base.scss";

.news {
	padding: 60px 0;

	&__title {
		@include typography(inherit, 500, Medium, 20px, 100%, 0%, _);
	}

	&-list {
		margin-top: 40px;

		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 20px;

		&__link {
			text-decoration: none;
			color: $fg-light;
		}

		&__item {
			width: 270px;

			&__img-container {
				width: 100%;
				height: 208px;

				border-radius: 10px;

				background-position: center;
				background-size: cover;
			}

			&__img {
				width: 0;
				height: 0;
				opacity: 0;
			}

			&__title {
				margin-top: 20px;
				width: 100%;
				height: 5em;

				@include typography(inherit, 500, Medium, 16px, 100%, 0%, _);
				color: $fg-light;
			}
		}
	}

	&__button-wrap {
		margin: 20px auto 0 auto;
		width: 120px;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__scroll-button {
		width: 40px;
		height: 40px;

		border-radius: 10px;

		@include typography(inherit, 500, Medium, 16px, 100%, 0%, _);
		background-color: $accent-light;
		color: $fg-light;

		&:disabled {
			background-color: rgba($accent-light, 80%);
			cursor: not-allowed;
		}
	}
}

@include desk() {
	.news {
		&__button-wrap {
			margin: 20px 0 0 0;
		}
	}
}
